.forgot-password-main-container{
    display: flex;
    .forgot-password-img-container{
        width: 33.33%;
        height: 100vh;
        background-image: url("../../../assets/images/forgotPasswordImg.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }
    .forgot-password-form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 66.66%;
        height: 100vh;
        @media (max-width:1024px) {
            // font-size: 40px;
            // justify-content: space-around;
        }
        // @media (max-width:780px) {
        //     font-size: 32px;
        // }
        // @media (max-width:480px) {
        //     font-size: 24px;
        // }
        .forgot-password-text-container{
            width: 70%;
            margin-top: 5%;
            margin-bottom: 7%;
            @media (max-width:760px) {
                margin-bottom: 10%;
            }
            @media (max-width:480px) {
                margin-bottom: 15%;
            }
        h1{
            font-weight: 700;
            // margin-top: 0%;
            font-size: 48px;
            color: #292a6a;
            @media (max-width:1024px) {
                font-size: 40px;
                
            }
            @media (max-width:780px) {
                font-size: 32px;
            }
            @media (max-width:480px) {
                font-size: 24px;
            }
        }
        p{
            font-weight:600;
            font-size: 18px;
            color: #979797;
            margin-top: 2%;
            @media (max-width:1024px) {
                font-size: 16px;
            }
            @media (max-width:780px) {
                font-size: 14px;
            }
            @media (max-width:480px) {
                font-size: 12px;
            }
        }
    }}
    .forgot-password-input-container{
        width: 70%;
        h3{
            font-weight: 600;
            font-size: 36px;
            color: #263b94;
            @media (max-width:1024px) {
                font-size: 30px;
            }
            @media (max-width:780px) {
                font-size: 24px;
            }
            @media (max-width:480px) {
                font-size: 18px;
            }
        }
    }
    .forgot-password-button-container{
        margin-top: 15%;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}