
.signup-main-container{
    display: flex;
    height: 100vh;
    .signup-img-container{
        width: 33.33%;
        height: 100vh;
        background-image: url("../../../assets/images/loginImage.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        @media (max-width:768px) {
          display: none;
        }
    }
    .driveefy-logo{
      // background-color: red;
      position: absolute;
      // display: flex;
      // margin-top: 5%;
      // margin-left: 5%;
      top:15px;
      left: 15px;
      // width: 100px;
      img{
        @media (max-width:1024px) {
          width: 150px;
        }
        @media (max-width:768px) {
          width: 120px;
        }
        @media (max-width:480px) {
          width: 100px;
        }
        @media (max-width:400px) {
          width: 80px;
        }
      }
    }
    .signup-form-container{
      
        width: 66.66%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        @media (max-width:1024px) {
            justify-content: space-evenly;
        }
        @media (max-width:768px) {
          width: 100%;
    
          height: 100%;
      
        }
        .signup-form-logo{
            height: 70px;
            width: 70px;
            margin-top: 1%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 1024px) {
                height: 65px;
                width: 65x;
             
              }
      
              @media (max-width: 768px) {
                height: 45px;
                width: 45px;
              }
      
              @media (max-width: 480px) {
                height: 40px;
                width: 40px;
                margin-bottom: 5%;
              }
        }
        h1{
            font-weight: 700;
            font-size: 40px;
            color: #292a6a;
            @media (max-width: 1024px) {
                font-size: 32px;
              }
              @media (max-width:860px) {
                font-size: 26px;
              }
              @media (max-width: 768px) {
                font-size: 20px;
                margin-top: 2%;
              }
              @media (max-width:590px) {
                font-size: 18px;
              }
      
              @media (max-width: 480px) {
                font-size: 14px;
              }

        }
        .signup-input-container{
            width: 70%;
            @media (max-width:768px) {
              
              width: 55%;
            }
            @media (max-width:480px) {
              width: 70%;
            }
            .input-name-field{
                display: flex;
                gap: 5%;
                align-items: flex-end;
                @media (max-width:768px) {
                  display: inline-block;
                  width: 100%;
                }
            }
            .signup-form-button{
                margin-top: 2%;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width:768px) {
                
                  margin-top: 0%;
                }
            }
        }
        h3{
            font-weight: 400;
            font-size: 24px;
            margin-bottom: 1%;
            @media (max-width: 1024px) {
                font-size: 22px;
              }
      
              @media (max-width: 768px) {
                font-size: 20px;
              }
              @media (max-width:540px) {
                font-size: 16px;
              }
      
              @media (max-width: 480px) {
                font-size: 12px;
                padding: 8px 20px;
              }
            .link{
                color: #293b94;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}