.custom-snackbar {
  align-items: center;
  color: black;
  transition: background 2s ease-in-out, color 2s ease-in-out;
  border-radius: 5px;
  // justify-content: ;
  .snackbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .snackbar-dot {
      font-size: 16px;
      font-weight: 400;
      text-align: left;

      @media (max-width: 1024px) {
        font-size: 14px;
      }
      @media (max-width: 768px) {
        font-size: 12px;
      }
      @media (max-width: 480px) {
        font-size: 8px;
      }
    }
    .snackbar-cross-icon {
      margin-left: 2%;

      align-self: center;
      height: 7%;
      width: 7%;
    }
  }
}
