/* Navbar Container */
.navbar-container {
  font-family: "Noto Sans", sans-serif;
  height: 9%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #ffffff;
  // background-color: red;
  width: 100%;
  z-index: 100;
  top: 0;
  // display: none;

  img {
    @media (max-width:1024px) {
      width: 150px;
    }

    @media (max-width:768px) {
      width: 120px;
    }

    @media (max-width:480px) {
      width: 100px;
    }

    @media (max-width:400px) {
      width: 80px;
    }
  }

  .navbar-logo-container {
    margin-left: 3%;
  }

  .navbar-links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    // justify-content: space-between;
    margin-right: 3%;

    img {
      @media (max-width:1024px) {
        width: 50px;
      }

      @media (max-width:768px) {
        width: 40px;
        margin-right: 0%;
      }

      @media (max-width:480px) {
        width: 30px;
        margin-right: 0%;
      }

      @media (max-width:400px) {
        width: 20px;
        margin-right: 0%;
      }
    }

    .user-profile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .user-name {
        height: 100%;
        gap: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
          font-size: 14px;
          font-weight: 700;
        }

        p {
          font-size: 12px;
          font-weight: 600;
          color: #565656;
        }
      }
    }
  }
}

/* Responsive adjustments for Navbar */
@media (max-width: 768px) {
  .navbar-container {
    height: 60px;

    .navbar-logo-container {
      margin-left: 2%;

    }

    .navbar-links-container {
      gap: 20px;
      margin-right: 2%;

      .user-profile {
        gap: 15px;


        .user-name {
          h1 {
            font-size: 12px;
          }

          p {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar-container {
    height: 50px;

    .navbar-logo-container {
      margin-left: 1%;


    }

    .navbar-links-container {
      gap: 10px;
      margin-right: 1%;

      .user-profile {
        gap: 10px;



        .user-name {
          h1 {
            font-size: 10px;
          }

          p {
            font-size: 8px;
          }
        }
      }
    }
  }
}