.language-button-container {
  position: absolute;
  // right: 10%;
  // width: 150px;
  // height: 150px;
  top:2%;
  // background-color: white;
  font-size: 22px;
  font-weight: 500;
  // display: flex;
  padding-left: 2%;
  padding-right: 2%;
  z-index: 20;
  right: 0;
  cursor: pointer;
  @media (max-width:1024px) {
    font-size: 18px;
  }
  @media (max-width:768px) {
    font-size: 14px;
  }
  @media (max-width:590px) {
    font-size: 10px;
  }
  @media (max-width:400px) {
    font-size: 8px;
  }
  .language-toggle-button{
    display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content;
    gap: 5px;
    // position: absolute;
    .language-blue-tick{
      // margin-left: %;
      // display: flex;
      // flex-wrap: wrap;
      // flex-direction: row;
      // justify-content: space-between;
    }
  }
  .language-popup{
    // gap: 15px;
    padding: 1%;
    width: 100%;
    border: black solid 2px;
    background-color: #ffffff;
    margin-top: 10px;
      .language-inner-div{
        margin-top: 3%;
        &:hover{
          background-color: #deebff;
        }
      }
      .language-inner-div-blue{
        margin-top: 3%;
        color: #4285f4;
        display: flex;
        align-items: center;
        gap: 5px;
        img{
          @media (max-width:768px) {
            height: 15px;
            width: 15px;
          }
          @media (max-width:590px) {
            height: 10px;
            width: 10px;
          }
          @media (max-width:400px) {
            height: 7px;
            width: 7px;
          }
        }
      }
  }
}
