.set-password-main-container {
  display: flex;
  .set-password-img-container {
    width: 33.33%;
    height: 100vh;
    background-image: url("../../../../assets/images/forgotPasswordImg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    @media (max-width:768px) {
      display: none;
    }
  }
  .driveefy-logo{
    // background-color: red;
    position: absolute;
    // display: flex;
    // margin-top: 5%;
    // margin-left: 5%;
    top:15px;
    left: 15px;
    // width: 100px;
    img{
      @media (max-width:1024px) {
        width: 150px;
      }
      @media (max-width:768px) {
        width: 120px;
      }
      @media (max-width:480px) {
        width: 100px;
      }
      @media (max-width:400px) {
        width: 80px;
      }
    }
  }
  .set-password-text-container {
    width: 66.66%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      width: 100%;
    }
    .set-password-form-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 1%;
        @media (max-width:890px) {
            width: 80%;
        }
        @media (max-width:768px) {
            width: 70%;
        }
        h1{
            color: #292A6A;
            font-weight: 700;
            font-size: 48px;
            @media (max-width:1024px) {
                font-size: 40px;
            }
            @media (max-width:825px) {
                font-size: 32px;
            }
            @media (max-width:680px) {
                font-size: 24px;
            }
            @media (max-width:495px) {
                font-size: 16px;
            }
        }
        p{
            font-size: 24px;
            font-weight: 600;
            color: #979797;
            @media (max-width:1024px) {
                font-size: 20px;
            }
            @media (max-width:825px) {
                font-size: 16px;
            }
            @media (max-width:680px) {
                font-size: 12px;
            }
            @media (max-width:495px) {
                font-size: 8px;
            }
        }
      .set-password-input-container {
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        h3{
            margin-top: 3%;
            font-weight: 600;
            font-size: 36px;
            color: #263b94;
            @media (max-width:1024px) {
                font-size: 20px;
            }
            @media (max-width:825px) {
                font-size: 16px;
            }
            @media (max-width:680px) {
                font-size: 12px;
            }
            @media (max-width:495px) {
                font-size: 8px;
            }
        }
        .set-password-button-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 9%;
        }
      }
    }
  }
}
